@model IEnumerable<PatientRegistration_Web.Models.PatientTbl>

@{
    ViewBag.Title = "Index";
}

<h2>Patient Registration</h2>

<form asp-controller="Home" asp-action="Index">
    <p>
        MRN: <input type="text" name="search">
        <input type="submit" value="Filter" />
    </p>
</form>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Patient)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MRN)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CSN)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Gender)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.HomePhone)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SSN)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PassportNo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LocationCode)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LocationID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DOB)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UpdateDateTime)
        </th>
    </tr>


    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Patient)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MRN)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CSN)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Gender)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HomePhone)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SSN)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PassportNo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LocationCode)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LocationID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DOB)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UpdateDateTime)
            </td>

        </tr>
    }

</table>
